body {
	color: solid-black;
}

a {
	text-decoration: none;
	color: #333;
}

a:hover { color: olive; }

header, nav, main, footer {
	width: 80%;
	margin: auto;
}


/* Header styles */
header { 
	background-color: lavender;
	color: olive;
	min-height: 100px;
	margin-top: 60px;
	font-size: 32px;
}

header h1 {
	font-family: 'Poppins', sans-serif;
	padding: 40px 60px;
}


/* Nav styles */
nav { background-color: lavender; 
	font-family: 'PT Mono', monospace;}
nav ul { 
	display: flex;
	justify-content: flex-end;
}
nav li { padding: 10px 10px; }
nav a { color: solid-black; }
nav a:hover { color: olive; }


/* Main styles */
main { 
	font-family: 'PT Mono', monospace;
	background-color: #fff;
	display: grid;
	grid-template-columns: 60% 40%;
}

section {
	padding: 40px 60px;
}

section ul, aside ul {
	list-style-type: square;
	margin-top: 20px; 
	margin-left: 30px;
}

aside {
	padding: 40px 10px;
}



/* Footer styles */
footer { 
	background-color: lavender;
	color: solid-black;
	text-align: center;
	font-family: 'Poppins', sans-serif;;
 }
 footer p { padding: 20px; }
